<div class="container">
    <h4 style="text-align: left;margin-top: 50px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
        class="bi bi-grid cursor-pointer" viewBox="0 0 16 16" >
        <path 
            d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
    </svg > Received Application
    </h4>
    <div class="text-end col-12 d-flex justify-content-end p-0">
      <div class="col-4 p-0 ">
      <div class="input-group ">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
      </div>
    </div>
    </div>
    <table class="table table-hover mt-3" style="border: 1px solid black; margin-top: 50px;">
        <thead>
            <!-- <tr >
                <td  colspan="6" class="border-0 serch-td  text-white"><input  type="text" placeholder="Search status here...">
                </td>
                </tr> -->
      <tr>
        <th class="bg-secondary text-white text-center" scope="col">Id</th>
        <th  class="bg-secondary text-white text-center" scope="col">Candidate Name</th>
        <th  class="bg-secondary text-white text-center" scope="col">Job Profile</th>
        <th  class="bg-secondary text-white text-center" scope="col">Experience</th>
        <th  class="bg-secondary text-white text-center" scope="col">Mobile</th> 
        <th  class="bg-secondary text-white text-center" scope="col">Filled By</th>
        <th  class="bg-secondary text-white text-center" scope="col">Last Status</th>
        <th  class="bg-secondary text-white text-center" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <th scope="row">1</th>
        <td>Aayushi</td>
        <td>Angular</td>
        <td>2 Years</td>
        <td>1234567890</td>
        <td>Admin</td>
        <td>JOB APPLIED</td>
        <td><button class="btn btn-primary">Action</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Aayushi</td>
        <td>Angular</td>
        <td>2 Years</td>
        <td>1234567890</td>
        <td>Admin</td>
        <td>JOB APPLIED</td>
        <td><button class="btn btn-primary">Action</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Aayushi</td>
        <td>Angular</td>
        <td>2 Years</td>
        <td>1234567890</td>
        <td>Admin</td>
        <td>JOB APPLIED</td>
        <td><button class="btn btn-primary">Action</button></td>
      </tr>
    </tbody>
  </table>
  </div>


  